Examples
<div class="card mb-6">
  <div class="row g-0">
    <div class="card-header" *ngIf="schema.link || schema.model || schema.author || schema.tutorial || schema.trigger">
      <a class="card-link" *ngIf="schema.link" href="{{ schema.link }}">Link</a>
      <a class="card-link" *ngIf="schema.model" href="{{ schema.model }}">Model</a>
      <a class="card-link" *ngIf="schema.author" href="{{ schema.author }}">Author</a>
      <a class="card-link" *ngIf="schema.tutorial" href="{{ schema.tutorial }}">Tutorial</a>
      <span *ngIf="schema.trigger">
        | <small class="text-muted">Trigger Word: <span class="text-warning">{{ schema.trigger }}</span></small></span
      >
    </div>
    <div class="card-body" *ngIf="schema.line1">
      <ul style="padding-left: 1rem">
        <small>
          <li *ngIf="schema.line1">{{ schema.line1 }}</li>
          <li *ngIf="schema.line2">{{ schema.line2 }}</li>
          <li *ngIf="schema.line3">{{ schema.line3 }}</li>
          <li *ngIf="schema.line4">{{ schema.line4 }}</li>
          <li *ngIf="schema.line5">{{ schema.line5 }}</li>
          <li *ngIf="schema.line6">{{ schema.line6 }}</li>
        </small>
      </ul>
    </div>
    <div class="col-md-3" *ngIf="schema.image1;">
      <ng-container
        *ngIf="schema.image1.includes('.png') || schema.image1.includes('.jpg') || schema.image1.includes('.webp') || schema.image1.includes('.gif')"
      >
        <img src="{{ schema.image1 }}" class="img-fluid" (click)="download(schema.image1)" style="cursor: pointer" />
      </ng-container>
      <ng-container *ngIf="schema.image1.includes('.mp4')">
        <div class="ratio" style="--bs-aspect-ratio: {{ schema.video_aspect_ratio }};">
          <video controls class="w-100 h-100 object-fit-cover rounded-end-1">
            <source src="{{ schema.image1 }}" type="video/mp4" />
          </video>
        </div>
      </ng-container>
    </div>
    <div class="col-md-3" *ngIf="schema.image2;">
      <ng-container
        *ngIf="schema.image2.includes('.png') || schema.image2.includes('.jpg') || schema.image2.includes('.webp') || schema.image2.includes('.gif')"
      >
        <img src="{{ schema.image2 }}" class="img-fluid" (click)="download(schema.image2)" style="cursor: pointer" />
      </ng-container>
      <ng-container *ngIf="schema.image2.includes('.mp4')">
        <div class="ratio" style="--bs-aspect-ratio: {{ schema.video_aspect_ratio }};">
          <video controls class="w-100 h-100 object-fit-cover rounded-end-1">
            <source src="{{ schema.image2 }}" type="video/mp4" />
          </video>
        </div>
      </ng-container>
    </div>
    <div class="col-md-3" *ngIf="schema.image3;">
      <ng-container
        *ngIf="schema.image3.includes('.png') || schema.image3.includes('.jpg') || schema.image3.includes('.webp') || schema.image3.includes('.gif')"
      >
        <img src="{{ schema.image3 }}" class="img-fluid" (click)="download(schema.image3)" style="cursor: pointer" />
      </ng-container>
      <ng-container *ngIf="schema.image3.includes('.mp4')">
        <div class="ratio" style="--bs-aspect-ratio: {{ schema.video_aspect_ratio }};">
          <video controls class="w-100 h-100 object-fit-cover rounded-end-1">
            <source src="{{ schema.image3 }}" type="video/mp4" />
          </video>
        </div>
      </ng-container>
    </div>
    <div class="col-md-3" *ngIf="schema.image4;">
      <ng-container
        *ngIf="schema.image4.includes('.png') || schema.image4.includes('.jpg') || schema.image4.includes('.webp') || schema.image4.includes('.gif')"
      >
        <img src="{{ schema.image4 }}" class="img-fluid" (click)="download(schema.image4)" style="cursor: pointer" />
      </ng-container>
      <ng-container *ngIf="schema.image4.includes('.mp4')">
        <div class="ratio" style="--bs-aspect-ratio: {{ schema.video_aspect_ratio }};">
          <video controls class="w-100 h-100 object-fit-cover rounded-end-1">
            <source src="{{ schema.image4 }}" type="video/mp4" />
          </video>
        </div>
      </ng-container>
    </div>
  </div>
</div>
