<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (setting()) {
      <div>
        <h2 data-cy="settingDetailsHeading"><span jhiTranslate="web2App.setting.detail.title">Setting</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="global.field.id">ID</span></dt>
          <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span>{{ setting()!.id }}</span>
          </dd>
          <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="web2App.setting.login">Login</span></dt>
          <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span>{{ setting()!.login }}</span>
          </dd>
          <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="web2App.setting.total">Total</span></dt>
          <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span>{{ setting()!.total }}</span>
          </dd>
          <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="web2App.setting.membership">Membership</span></dt>
          <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span [jhiTranslate]="'web2App.Membership.' + (setting()!.membership ?? 'null')">{{
              { null: '', FREE: 'FREE', PAID: 'PAID' }[setting()!.membership ?? 'null']
            }}</span>
          </dd>
          <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="web2App.setting.notifyUri">Notify Uri</span></dt>
          <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span>{{ setting()!.notifyUri }}</span>
          </dd>
          <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="web2App.setting.notifyToken">Notify Token</span></dt>
          <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span>{{ setting()!.notifyToken }}</span>
          </dd>
          <dt><span jhiTranslate="web2App.setting.discordUsername">Discord Username</span></dt>
          <dd>
            <span>{{ setting()!.discordUsername }}</span>
          </dd>
          <dt><span jhiTranslate="web2App.setting.discordId">Discord Id</span></dt>
          <dd>
            <span>{{ setting()!.discordId }}</span>
          </dd>
          <dt><span jhiTranslate="web2App.setting.discordChannel">Discord Channel</span></dt>
          <dd>
            <span>{{ setting()!.discordChannel }}</span>
          </dd>
          <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="web2App.setting.discordToken">Discord Token</span></dt>
          <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span>{{ setting()!.discordToken }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/setting', setting()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
