<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-job-heading" data-cy="JobCreateUpdateHeading" jhiTranslate="web2App.job.home.createOrEditLabel">Create or edit a Job</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="web2App.job.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_login" jhiTranslate="web2App.job.login">Login</label>
          <input type="text" class="form-control" name="login" id="field_login" data-cy="login" formControlName="login" />
          @if (editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)) {
            <div>
              @if (editForm.get('login')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_date" jhiTranslate="web2App.job.date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)) {
            <div>
              @if (editForm.get('date')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('date')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="web2App.job.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'web2App.JobStatus.null' | translate }}</option>
            @for (jobStatus of jobStatusValues; track $index) {
              <option [value]="jobStatus">{{ 'web2App.JobStatus.' + jobStatus | translate }}</option>
            }
          </select>
          @if (editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="web2App.job.type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          @if (editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_command" jhiTranslate="web2App.job.command">Command</label>
          <input type="text" class="form-control" name="command" id="field_command" data-cy="command" formControlName="command" />
          @if (editForm.get('command')!.invalid && (editForm.get('command')!.dirty || editForm.get('command')!.touched)) {
            <div>
              @if (editForm.get('command')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="web2App.job.amount">Amount</label>
          <input type="text" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          @if (editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)) {
            <div>
              @if (editForm.get('amount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notifyUri" jhiTranslate="web2App.job.notifyUri">Notify Uri</label>
          <input type="text" class="form-control" name="notifyUri" id="field_notifyUri" data-cy="notifyUri" formControlName="notifyUri" />
          @if (editForm.get('notifyUri')!.invalid && (editForm.get('notifyUri')!.dirty || editForm.get('notifyUri')!.touched)) {
            <div>
              @if (editForm.get('notifyUri')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notifyToken" jhiTranslate="web2App.job.notifyToken">Notify Token</label>
          <input
            type="text"
            class="form-control"
            name="notifyToken"
            id="field_notifyToken"
            data-cy="notifyToken"
            formControlName="notifyToken"
          />
          @if (editForm.get('notifyToken')!.invalid && (editForm.get('notifyToken')!.dirty || editForm.get('notifyToken')!.touched)) {
            <div>
              @if (editForm.get('notifyToken')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discordUsername" jhiTranslate="web2App.job.discordUsername">Discord Username</label>
          <input
            type="text"
            class="form-control"
            name="discordUsername"
            id="field_discordUsername"
            data-cy="discordUsername"
            formControlName="discordUsername"
          />
          @if (
            editForm.get('discordUsername')!.invalid && (editForm.get('discordUsername')!.dirty || editForm.get('discordUsername')!.touched)
          ) {
            <div>
              @if (editForm.get('discordUsername')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discordId" jhiTranslate="web2App.job.discordId">Discord Id</label>
          <input type="text" class="form-control" name="discordId" id="field_discordId" data-cy="discordId" formControlName="discordId" />
          @if (editForm.get('discordId')!.invalid && (editForm.get('discordId')!.dirty || editForm.get('discordId')!.touched)) {
            <div>
              @if (editForm.get('discordId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discordChannel" jhiTranslate="web2App.job.discordChannel">Discord Channel</label>
          <input
            type="text"
            class="form-control"
            name="discordChannel"
            id="field_discordChannel"
            data-cy="discordChannel"
            formControlName="discordChannel"
          />
          @if (
            editForm.get('discordChannel')!.invalid && (editForm.get('discordChannel')!.dirty || editForm.get('discordChannel')!.touched)
          ) {
            <div>
              @if (editForm.get('discordChannel')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discordToken" jhiTranslate="web2App.job.discordToken">Discord Token</label>
          <input
            type="text"
            class="form-control"
            name="discordToken"
            id="field_discordToken"
            data-cy="discordToken"
            formControlName="discordToken"
          />
          @if (editForm.get('discordToken')!.invalid && (editForm.get('discordToken')!.dirty || editForm.get('discordToken')!.touched)) {
            <div>
              @if (editForm.get('discordToken')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_source" jhiTranslate="web2App.job.source">Source</label>
          <select class="form-control" name="source" formControlName="source" id="field_source" data-cy="source">
            <option [ngValue]="null">{{ 'web2App.JobSource.null' | translate }}</option>
            @for (jobSource of jobSourceValues; track $index) {
              <option [value]="jobSource">{{ 'web2App.JobSource.' + jobSource | translate }}</option>
            }
          </select>
          @if (editForm.get('source')!.invalid && (editForm.get('source')!.dirty || editForm.get('source')!.touched)) {
            <div>
              @if (editForm.get('source')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_total" jhiTranslate="web2App.job.total">Total</label>
          <input type="text" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          @if (editForm.get('total')!.invalid && (editForm.get('total')!.dirty || editForm.get('total')!.touched)) {
            <div>
              @if (editForm.get('total')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_result" jhiTranslate="web2App.job.result">Result</label>
          <input type="text" class="form-control" name="result" id="field_result" data-cy="result" formControlName="result" />
          @if (editForm.get('result')!.invalid && (editForm.get('result')!.dirty || editForm.get('result')!.touched)) {
            <div>
              @if (editForm.get('result')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
